<div class="login-container">
    <div class="title-row">
        <img src="../../assets/images/logo.svg" alt="Favorite medium logo" />
        <h3>Login</h3>
    </div>
    <div class="form-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-group">
                <input type="email" matInput class="form-control" formControlName="user" placeholder="Enter username">
                <mat-error *ngIf="user.invalid && (user.dirty || user.touched)">
                    <div *ngIf="user.errors?.['required']">User name is required</div>
                    <div *ngIf="!user.errors?.['required'] && user.errors?.['emailValidator']">Please enter a valid email</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group">
                <input type="password" matInput class="form-control" formControlName="password"
                    placeholder="Enter password">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">Password is required</div>
                </mat-error>
            </mat-form-field>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>